@import "../../color-palette";

.app__faqs {
	padding: 4rem 97px;
	display: flex;
	justify-content: space-between;
}

.faqs__txt {
	line-height: 2;
	color: #667085;
}

.faqs__header {
	color: $text-color;
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
	letter-spacing: -0.96px;
	margin: 1rem 0;
}

.support {
	color: $primary-color;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
}

.faqs__box {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding: 20px 20px 10px;

	h3 {
		font-size: medium;
		line-height: 1.5;
		font-size: 16px;
		margin: 0;
	}
}

.faqs__one {
	width: 40%;
}

.faqs__two {
	width: 53%;
}

.faqs__box p {
	font-size: smaller;
	margin-top: 1rem;
}
