@import "../../color-palette";

.usp-Subheading {
	color: $primary-color;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
}

.usp-Header {
	color: $text-color;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	margin: 1rem 0;
	letter-spacing: -0.96px;
}

.wcl-container {
	padding: 100px 97px 50px 97px;
	height: max-content;
}

.usp-Header-container {
	padding-bottom: 50px;
}

.usp-HeaderSub {
	color: $text-color-grey-light;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.usp-Body {
	height: 400px;
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.usp-container {
	width: 58%;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);

	.card {
		width: 100%;
	}
}

.usp-Image {
	position: relative;
	width: 40%;
	background-color: green;
	height: 100%;
	background-image: url("../../assets/Images/image-grid.png");
	background-position: center;
	background-size: cover;
}

.usp-Conten-container {
	width: 58%;
	height: 100%;
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.handArrow {
	position: absolute;
	top: -205px;
	left: 20px;
	transform: scale(0.8);
}
