$primary-color: rgb(23, 92, 211);
$primary-color-dark: rgb(0, 78, 235);
$text-color: rgb(16, 24, 40); // grey 800 - 900
$text-color-grey: rgb(71, 84, 103); // grey 700
$text-color-grey-light: rgb(102, 112, 133); // grey 500 - 600
$white-color: rgb(255, 255, 255);
$bg-grey: rgb(208, 213, 221); // grey 300
$bg-grey-light: rgb(242, 244, 247); // grey 100
$bg-blue: rgb(178, 221, 255); // blue 300
$bg-blue-light: rgb(239, 248, 255); //blue 50 - 100
$bg-orange-light: rgb(255, 156, 102);
$bg-purple-light: rgb(214, 187, 251);
